











<div class="row no-gutters">
            <div class="col-12 col-lg-12">
                <div class="slider-area">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/gallery/WorldPostDay2019/IMG_1091.jpg" alt="" width="" height="">
                                <!-- </a> -->
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <!-- <a href=""> -->
                                    <a href="#">
                                        <p style="color:white;">विश्व हुलाक दिवस, सन् २०१९ को अवसरमा यस विभाग अन्तर्गतको गोश्वारा हुलाक कार्यालयको नवनिर्मित भवनको समुद्‌घाटन कार्यक्रममा माननीय सञ्‍चार तथा सूचना प्रविधि मन्त्री श्री गोकुल प्रसाद बाँस्‍कोटाज्यूका साथमा सञ्‍चार तथा सूचना प्रविधि मन्त्रालयका श्रीमान् सचिवज्यू र आदरणीय महानिर्देशकज्यू</p>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item activf">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/gallery/WorldPostDay2019/IMG_1030.jpg" alt="" width="" height="">
                                <!-- </a> -->
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <!-- <a href=""> -->
                                    <a href="#">
                                        <p style="color:white;">माननीय सञ्‍चार तथा सूचना प्रविधि मन्त्री श्री गोकुल प्रसाद बाँस्कोटाज्यूबाट यस विभाग अन्तर्गतको गोश्वारा हुलाक कार्यालयको नवनिर्मित भवनको समुद्‌घाटन हुँदै...</p>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item activg">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/gallery/WorldPostDay2019/IMG_0782.jpg" alt="" width="" height="">
                                <!-- </a> -->
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <!-- <a href=""> -->
                                    <a href="#">
                                        <p style="color:white;">विश्व हुलाक दिवस, सन् २०१९ मनाउने कार्यक्रममा गोश्वारा हुलाक कार्यालय परिसरमा आदरणीय महानिर्देशकज्यू साथमा केन्द्रीय कार्यालयहरूमा कार्यरत उच्च पदस्त कर्मचारीहरू र अन्य संगठनमा कार्यरत कर्मचारीहरू </p>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item activh">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/visit-nepal-year-2020-ntb-dmo-site-banner.jpg" alt="" width="" height="">
                                <!-- </a> -->
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <!-- <a href=""> -->
                                    <a href="#">
                                        <p style="color:white;">सम्माननीय प्रधानमन्त्री तथा नेपाल भ्रमण वर्ष २०२० मूल आयोजक समितिका अध्यक्ष श्री के.पी. शर्मा ओलीज्यूको अध्यक्षतामा मिति २०७५/१२/२७ मा बसेको समितिको तेस्रो बैठकबाट "सम्पूर्ण सार्वजनिक निकायहरूको कार्यसम्पादनको क्रममा प्रयोग गर्ने पत्राचारमा तथा सबै निकायका वेभसाइटमा वि.सं. २०७६ र वि.सं. २०७७ सालभर नेपाल भ्रमण वर्ष २०२० को नारा सहितको लोगो राख्‍नको लागि सबैलाई अनुरोध गर्ने" निर्णय भएकोमा सोको कार्यान्वयनको लागि राखिएको नारा सहितको लोगो</p>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item activi">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/2.jpg" alt="" width="" height="">
                                <!-- </a> -->
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <!-- <a href=""> -->
                                    <a href="#">
                                        <p style="color:white;">माननीय सञ्‍चार तथा सूचना प्रविधि मन्त्रीज्यू र श्रीमान् सचिवज्यूको समुपस्थितिमा हुलाक सुधार कार्यदलले पेश गरेको हुलाक सेवा प्राधिकरण ऐनको मस्यौदा माथि भएको छलफल कार्यक्रम</p>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item activj">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/Mail%20Transport%20Service.jpg" alt="" width="" height="">
                                <!-- </a> -->
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <!-- <a href=""> -->
                                    <a href="#">
                                        <p style="color:white;">डाँक परिवहन सेवा</p>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item activk">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/Slider1_Upload.jpg" alt="" width="" height="">
                                <!-- </a> -->
                            </div>
                            <div class="carousel-item activl">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/20_c889234799e865bbe90cee71f6cd2e53_m.jpg" alt="" width="" height="">
                                <!-- </a> -->
                            </div>
                            <div class="carousel-item activm">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/Letter%20Boxes%20Upload.jpg" alt="" width="" height="">
                                <!-- </a> -->
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <!-- <a href=""> -->
                                    <a href="#">
                                        <p style="color:white;">पत्र मञ्‍जुषा</p>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item activn">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/22_71f67488b0857639cee631943a3fc6fa_m.jpg" alt="" width="" height="">
                                <!-- </a> -->
                            </div>
                            <div class="carousel-item activo">
                                <!-- <a href=""> -->
                                <img src="application/resources/admin/uploads/source/slider/S1Upload.jpg" alt="" width="" height="">
                                <!-- </a> -->
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="f-area m-right" style="display:none;">
                    <div class="form-lable"><i class="fa fa-user"></i> user Login</div>
                    <div class="lform">
                        <form class="" action="#" method="post">
                            <div class="form-group">
                                <label for="">युजरनेम</label>
                                <input type="text" name="username" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label for="">पासवअर्ड</label>
                                <input type="password" name="password" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="remeberme" value=""> Remeber Me </label>
                                <button type="submit" class="btn btn-warning btn-block">Login</button>
                            </div>
                            <div class="form-group">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#">पासवअर्ड हराउनु भयो ? </a> </li>
                                    <li class="list-inline-item"><a href="#">युजरनेम हराउनु भयो ?</a> </li>
                                </ul>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="ticker-container">
            <div class="label-area highlight-label">हाइलाइट</div>
            <ul>
                <div>
                    <li>
                        <span class="date">
                    &#2408;&#2406;&#2413;&#2412;&#45;&#2407;&#2406;&#45;&#2413;                 </span>
                        <a href="categorydetail/right-to-information-2076-2nd.html" target="_blank">सूचनाको हक कार्तिक २०७६ देखि पुस मसान्तसम्म</a>
                    </li>
                </div>
                <div>
                    <li>
                        <span class="date">
                    &#2408;&#2406;&#2413;&#2412;&#45;&#2415;&#45;&#2407;&#2413;                 </span>
                        <a href="categorydetail/auction-2076-09-17.html" target="_blank">लिलामका लागि राखिएका सामानहरूको विवरण</a>
                    </li>
                </div>
                <div>
                    <li>
                        <span class="date">
                    &#2408;&#2406;&#2413;&#2412;&#45;&#2414;&#45;&#2410;                    </span>
                        <a href="categorydetail/contract-intent-08-03.html" target="_blank">ठेक्का प्रदान गर्ने आशयपत्र जारी गरिएको सूचना</a>
                    </li>
                </div>
                <div>
                    <li>
                        <span class="date">
                    &#2408;&#2406;&#2413;&#2412;&#45;&#2413;&#45;&#2408;&#2413;                 </span>
                        <a href="categorydetail/intent-notice-2076-07-27.html" target="_blank">ठेक्का प्रदान गर्ने आशयपत्र जारी गरिएको सूचना बारे</a>
                    </li>
                </div>
                <div>
                    <li>
                        <span class="date">
                    &#2408;&#2406;&#2413;&#2412;&#45;&#2413;&#45;&#2408;&#2411;                 </span>
                        <a href="categorydetail/intent-notice.html" target="_blank">ठेक्का प्रदान गर्ने आशयको सूचना प्रकाशन गरिएको बारे</a>
                    </li>
                </div>
            </ul>
        </div>

        <style type="text/css">
            .highight-list {
                padding: 10px 0 10px 30px;
                float: right;
                background: white;
                width: 80%;
            }
            
            .highlight-label {
                background: #080d37;
                width: 20%;
                float: left;
                padding: 10px 0;
                text-align: right;
            }
        </style>
        <div class="clearfix"></div>
        <section class="about-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="main-abt-area">
                            <div class="row no-gutters">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <img class="card-img-top" src="application/resources/admin/uploads/source/pages/mail-services.jpg" alt=" मेल सेवाहरू">
                                        <div class="card-body">
                                            <h5 class="card-title"> मेल सेवाहरू</h5>
                                            <p class="card-text">GENERAL (TRADITIONAL) SERVICE Applicable from August 18, 2015 (2072 Bhadra 01) &nbsp;आन्तरिक&nbsp;हुलाक&nbsp;महसुल दर सि.नं. विवरण&#8230;

                                            </p>
                                            <a href="pages/mail-services.html" class="btn btn-primary">सबै हेर्नुहोस्</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card">
                                        <img class="card-img-top" src="application/resources/admin/uploads/source/pages/postal-saving-bank.jpg" alt=" हुलाक बचत बैंक">
                                        <div class="card-body">
                                            <h5 class="card-title"> हुलाक बचत बैंक</h5>
                                            <p class="card-text">Post Box is a facility provided for the reliable, secured and expeditious collection of postal&#8230;</p>
                                            <a href="pages/postal-savings-bank.html" class="btn btn-primary">सबै हेर्नुहोस्</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card">
                                        <img class="card-img-top" src="application/resources/admin/uploads/source/pages/parsal-services.jpg" alt="पार्सल सेवा">
                                        <div class="card-body">
                                            <h5 class="card-title">पार्सल सेवा</h5>
                                            <p class="card-text">Parcel All kinds of items can be sent as a parcel except items, which are&#8230;</p>
                                            <a href="pages/parcel-services.html" class="btn btn-primary">सबै हेर्नुहोस्</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <div class="member-area">
                                    <div class="member-img">
                                        <img src="application/resources/admin/uploads/source/staff/DG-New.jpg" alt="">
                                    </div>
                                    <div class="member-desc">
                                        <div class="member-name">कृष्ण मुरारी न्यौपाने</div>
                                        <!-- <p style="font-weight:  normal;">महानिर्देशक</p> -->
                                        <div class="member-postion">महानिर्देशक</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of about us -->
        <section class="newsevents">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="l-content-area-all">
                            <div class="common-title no-word-break has-border-s">
                                समाचार <span>   तथा सूचना </span>
                            </div>
                            <div class="n-content">
                                <div id="scroll" class="scroll">
                                    <div class="scrollDiv">
                                        <div class="scrollContent">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="categorydetail/right-to-information-2076-2nd.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2407;&#2406;&#45;&#2413;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">समाचार</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            सूचनाको हक कार्तिक २०७६ देखि पुस मसान्तसम्म </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/right-to-information-2076-2nd.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2407;&#2406;&#45;&#2413;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">सूचना</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            सूचनाको हक कार्तिक २०७६ देखि पुस मसान्तसम्म </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/auction-2076-09-17.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2415;&#45;&#2407;&#2413;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">सूचना</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            लिलामका लागि राखिएका सामानहरूको विवरण </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/contract-intent-08-03.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2414;&#45;&#2410;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">सूचना</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            ठेक्का प्रदान गर्ने आशयपत्र जारी गरिएको सूचना </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/intent-notice.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2413;&#45;&#2408;&#2411;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">सूचना</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            ठेक्का प्रदान गर्ने आशयको सूचना प्रकाशन गरिएको बारे </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <div class="pull-right">
                                    <a class="btn btn-primary c-btn" href="newslist.html">सबै हेर्नुहोस्</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="l-content-area-all">
                            <div class="common-title no-word-break has-border-s">
                                बोलपत्रर
                            </div>
                            <div class="n-content">
                                <div id="scroll" class="scroll">
                                    <div class="scrollDiv">
                                        <div class="scrollContent">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="categorydetail/auction-2076-09-17.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2415;&#45;&#2407;&#2413;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">बोलपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            लिलामका लागि राखिएका सामानहरूको विवरण </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/contract-intent-08-03.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2414;&#45;&#2410;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">बोलपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            ठेक्का प्रदान गर्ने आशयपत्र जारी गरिएको सूचना </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/intent-notice.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2413;&#45;&#2408;&#2411;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">बोलपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            ठेक्का प्रदान गर्ने आशयको सूचना प्रकाशन गरिएको बारे </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/corrcted-notice.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2412;&#45;&#2408;&#2415;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">बोलपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            मिति २०७६-०६-१५ को सूचना सच्याइएको सम्बन्धि सूचना </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/dank_thaila_2076-05-08.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2411;&#45;&#2414;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">बोलपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            नाइलन डाँक थैला खरिद गर्ने बारेको बोलपत्र आव्हानको सूचना </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <div class="pull-right">
                                    <a class="btn btn-primary c-btn" href="tender.html">सबै हेर्नुहोस्</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="l-content-area-all">
                            <div class="common-title no-word-break has-border-s">
                                परिपत्र
                            </div>
                            <div class="n-content">
                                <div id="scroll" class="scroll">
                                    <div class="scrollDiv">
                                        <div class="scrollContent">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="categorydetail/intent-notice-2076-07-27.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2413;&#45;&#2408;&#2413;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">परिपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            ठेक्का प्रदान गर्ने आशयपत्र जारी गरिएको सूचना बारे </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/the_hulak_2076_content.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2411;&#45;&#2409;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">परिपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            हुलाक पत्रीकाको लागि लेख रचना उपलब्ध गराईदिने बारे जानकारी </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/rti-2076-03-26.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2409;&#45;&#2408;&#2412;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">परिपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            सूचनाको हक सम्बन्धी २०७६ असारसम्मको प्रगति विवरण </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/property-details-circular.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2409;&#45;&#2408;&#2408;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">परिपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            सम्पत्ति विवरण समयमै निजामती किताबखानामा पेश गर्ने व्यवस्था मिलाउने सम्बन्धमा गरिएको परिपत्र </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="categorydetail/circular-076-02-21.html">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="date-area">&#2408;&#2406;&#2413;&#2412;&#45;&#2408;&#45;&#2408;&#2407;</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="pull-right">
                                                                    <label class="label label-primary">परिपत्र</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="n-title-area">
                                                            सूचनाको हक सम्बन्धी विवरण सम्बन्धमा अन्तर्गतका निकायहरूलाई गरिएको परिपत्र </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <div class="pull-right">
                                    <a class="btn btn-primary c-btn" href="circular.html">सबै हेर्नुहोस्</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="s-area">
                            <div class="spoke-person-area">
                                <div class="s-img-holder">
                                    <img src="application/resources/admin/uploads/source/staff/Maiya_devi_dhamala1.jpg" alt="">
                                </div>
                                <div class="s-desc-area">
                                    <div class="s-title">
                                        गुनासो सुन्ने अधिकारी
                                        <span class="s-name">मैयादेवी धमला</span>
                                        <span class="s-designation">निर्देशक/सूचना अधिकारी</span>
                                        <!-- <span class="s-name">Mr. Ramchandra Dhakal</span> -->
                                    </div>
                                    <div class="s-information">
                                        <ul class="list-unstyled">
                                            <li class="s-phone">+९७७-०१-४४११३५३</li>
                                            <!-- <li class="s-m-phone"></li> -->
                                            <li class="s-email">rti@postalservice.gov.np</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="s-area">
                            <div class="spoke-person-area">
                                <div class="s-img-holder">
                                    <img src="application/resources/admin/uploads/source/staff/Maiya_devi_dhamala1.jpg" alt="">
                                </div>
                                <div class="s-desc-area">
                                    <div class="s-title">
                                        सूचना अधिकारी
                                        <span class="s-name">मैयादेवी धमला</span>
                                        <span class="s-designation">निर्देशक/सूचना अधिकारी</span>
                                        <!-- <span class="s-name">Mr. Ramchandra Dhakal</span> -->
                                    </div>
                                    <div class="s-information">
                                        <ul class="list-unstyled">
                                            <li class="s-phone">+९७७-०१-४४११३५३</li>
                                            <!-- <li class="s-m-phone"></li> -->
                                            <li class="s-email">rti@postalservice.gov.np</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="common-title no-word-break has-border-s f-white">
                            <a href="gallery.html">
                    फोटो <span>ग्यालरी</span>
                </a>
                        </div>
                        <div class="g-content">
                            <div class="card">
                                <a href="gallery.html">
                                    <img class="card-img-top" src="uploads/gallery/RYfnqJxxwQ191022091020.jpg" alt="विश्व हुलाक दिवस, सन् २०१९ कार्यक्रमको फोटोहरू">
                                    <div class="card-body">
                                        <h5 class="card-title">विश्व हुलाक दिवस, सन् २०१९ कार्यक्रमको फोटोहरू</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="common-title no-word-break has-border-s f-white">
                            <a href="category/publicationList.html">
                    हाम्रो <span> प्रकासन               </a>
                        </div>
                        <div class="g-content">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <a href="categorydetail/publication.html">
                                            <img class="card-img-top" src="application/resources/admin/uploads/source/publication/S6.jpg" alt="publication">
                                            <div class="card-body">
                                                <h5 class="card-title">publication</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fb-root"></div>
                    <script>
                        (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = '../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="col-12 col-md-3">
                        <div class="common-title no-word-break has-border-s f-white">
                            हाम्रो <span> फेश्बुक                       </div>
                        <div class="g-content">
                            <div class="fb-page" data-href="https://www.facebook.com/neplpost" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/neplpost" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/neplpost">Nepal Post</a></blockquote></div>
                        </div>

                        <div class="e-atte">
                            <a class="garte-pass" href="http://103.69.125.17/" target="_blank">
                    <div class="ic-holder">
                        <img src="application/resources/site/img/event.svg" class="onhover">
                        <img src="application/resources/site/img/eventwhite.svg" class=" nohover">
                    </div>
                    <div class="tptotle">
                        विद्युतीय हाजिरी 
                        <span>E Attendance</span>
                            <!-- गेट पास  -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <style>
        .e-atte {
            margin-top: 30px;
        }
        
        .e-atte a {
            color: white;
        }
    </style>
    <div class="clearfix"></div>